
h1 {
    color: blue;
}

* {
    border: solid;
}
.header{
background-color:aquamarine;
display:flex;
justify-content:space-between;
}

.Image{
background-color:bisque;
display:flex;
justify-content:space-between;
}

.Image1{
    background-color:bisque;
    display:flex;
    flex-wrap: wrap;
    }